root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

[*.cs]
dotnet_diagnostic.IDE0301.severity = silent
dotnet_diagnostic.IDE0305.severity = silent
dotnet_diagnostic.CA1826.severity = silent

[*.{json,xml,csproj,props,slnx}]
indent_size = 2

[*.md]
indent_size = 2
